{
		"object": "page",
		"id": "fb95d3d1-3221-4d48-b4e7-84100ed015c9",
		"created_time": "2023-01-01T14:33:00.000Z",
		"last_edited_time": "2023-01-03T12:58:00.000Z",
		"created_by": {
				"object": "user",
				"id": "c7e6c4d3-4ade-4b14-8f3e-cb8d7dd3f5c6"
		},
		"last_edited_by": {
				"object": "user",
				"id": "c7e6c4d3-4ade-4b14-8f3e-cb8d7dd3f5c6"
		},
		"cover": {
				"type": "external",
				"external": {
						"url": "https://www.notion.so/images/page-cover/solid_yellow.png"
				}
		},
		"icon": null,
		"parent": {
				"type": "database_id",
				"database_id": "424e29bd-8d91-424f-bfc4-e100603856b9"
		},
		"archived": false,
		"properties": {
				"Description": {
						"id": "%3AzpB",
						"type": "rich_text",
						"rich_text": [
								{
										"type": "text",
										"text": {
												"content": "nextjs 포트폴리오 사이트",
												"link": null
										},
										"annotations": {
												"bold": false,
												"italic": false,
												"strikethrough": false,
												"underline": false,
												"code": false,
												"color": "default"
										},
										"plain_text": "nextjs 포트폴리오 사이트",
										"href": null
								}
						]
				},
				"WorkPeriod": {
						"id": "J%5Em%40",
						"type": "date",
						"date": {
								"start": "2022-12-31",
								"end": "2023-01-03",
								"time_zone": null
						}
				},
				"Github": {
						"id": "UX%3Av",
						"type": "url",
						"url": "https://github.com/Harimad/next-portfolio"
				},
				"Tags": {
						"id": "tzLc",
						"type": "multi_select",
						"multi_select": [
								{
										"id": "vAAn",
										"name": "TailwindCss",
										"color": "yellow"
								},
								{
										"id": "rj_a",
										"name": "Next.js",
										"color": "default"
								}
						]
				},
				"Name": {
						"id": "title",
						"type": "title",
						"title": [
								{
										"type": "text",
										"text": {
												"content": "개인 포트폴리오 사이트",
												"link": null
										},
										"annotations": {
												"bold": false,
												"italic": false,
												"strikethrough": false,
												"underline": false,
												"code": false,
												"color": "default"
										},
										"plain_text": "개인 포트폴리오 사이트",
										"href": null
								}
						]
				}
		},
		"url": "https://www.notion.so/fb95d3d132214d48b4e784100ed015c9"
},
